.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__spinner {
    border: 10px solid #3498db;
    border-top: 10px solid #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
