.list-item {
  background-color: #FBF8E3;
  border: 1px solid #FBEFD4;
  border-radius: 5px;
  color: #896D3A;
  margin-bottom: 3px;
  opacity: 0;
  padding: 10px;
  text-align: left;
  animation: smooth-mount 0.5s ease-out forwards;
}

@keyframes smooth-mount {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
