

.board {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  width: 90%;
  height: fit-content;
}

td {
  width: 30%;

}

td .content {
  aspect-ratio: 1 / 1;
}

.game-container {
  display: flex;
}

.game-table {
  overflow: scroll;

  &__cell {
    max-height: 30px;
    width: 30px;
    border: 1px solid;
  }
}